.td_class
{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.td_class:hover
{
    color: crimson;
}

.book_class
{
    margin-top: 15;
}

.book_class_title
{
    font-weight: 500;
    font-size:1.5rem;
}

.book_class_ed
{
    font-weight: 500;
    font-size:1.2rem;
}

.myRes
{
    font-weight: 400;
    font-size:1.3rem;
}

.webshop-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 30px 0;
}

.card-remove-gap{
    margin: 0 0;
}

.book-image{
    height: 250px;
    object-fit:contain;
}

.no-underline{
    text-decoration: none;
    color: black;
}

.no-underline:hover{
    text-decoration: none;
    color: black;
}

.bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameofbadge{
    font-size: 1.2rem;
    font-weight: 500;
}

.badge-text{
    margin: 0 0;
}

/*--*/

.asd{
    display: flex;
    justify-content: center;
    grid-gap: 50px;
}

.sub-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paginate-container{
    display: flex;
    justify-content: center;
}

.cb-register{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cb-size{
    width: 20px;
    height: 20px;
}

.cb-text{
    font-size: 15px;
}

